@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@1,700&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oleo+Script&family=Shrikhand&display=swap');

body {
    background: #DDDDDD;
    background-color: #f2a97e;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.navbar {
    background-color:#73433F ;
    color: white;
}

nav.navbar.navbar-dark.fixed-top {
    padding-bottom: 0px;
}

.navbar.navbar-dark.bg-faded {
    padding-bottom: 5px;
}

#topBar {
    position: fixed;
    /* z-index: 5; */
}

#searchcontent{
    max-width: 50%;
}

span.bmd-form-group{
    padding-top: 0px;
}


.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer {
    position: fixed;
}

.bmd-layout-drawer>header {
    background-color: #592925;
    color: #D9B5A0;
}

.bmd-layout-drawer>ul {
    background-color: #D9B5A0;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

#menuUserInfo, 
#menuShowAllRecipes,
#menuShowMyRecipes,
#menuSignOut{
    color: #634231;
}

#searchbutton,
#backbutton{
    background-color: #A66D3C;
    color: white;
    margin:0px;
    /* padding: 0px; */
}

input{
    padding: 0px;
}

#loginEmail,
#loginPassword{
    text-align: center;
}

.page-container {
    margin-top: 75px;
}

#loginPage {
    margin-top: 80px;
}

#typeArea {
    border-radius: 25px;
    background: white;
    opacity: 80%;
    padding: 20px;
    padding-top: 10px;
    margin: 0px 10px;
}

#loginButtonGroup .row {
    display: flex;
    justify-content: center;
}

#loginButtonGroup button {
    margin: 5px 10px;
    background-color: #fff;
    width: 180px;
}

#loginButtonGroup button:hover {
    background-color: #000;
    color: white;
}


#typeArea label {
    font-family: 'Raleway', sans-serif;
    color: black;
}

h6{
    font-family: 'Oleo Script', cursive;
    
}
h7 {
    font-family: 'Courgette', cursive;
    color: white;
}

.bmd-help, .text-muted {
    color: white!important;
}

#dropDownMenu{
    background-color: #D9B5A0
}

#menuEdit,
#menuDelete,
#BookMark,
#menuSignOut{
    color: #592925;
}


#backButton{
    font-size: 2em;
    font-family: 'Lobster', cursive;
    color: #FFEDD4;
}


#BG {
    height: 100%;
    background-image: url('/images/loginpic.jpg');
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#searchBar{
    max-width: 85%;
}

h1 {
    margin-bottom: 0px;
    font-size: 2.5em;
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
}

#topWord{
    font-size: 2em;
    font-family: 'Lobster', cursive;
    color: #FFEDD4;
}

h5 {
    font-family: 'Lobster', cursive;
    color: white;
}

#fab {
    position: fixed;
    right: 25px;
    bottom: 10px;
    background: #BF4141;
    color: white;
    z-index: 999;
}

.modal-backdrop {
    background-color: #F2A97E;
 }

#fab:active {
    transform: translateY(2px);
    opacity: 0.8;
}

#detailContent {
    font-family: 'Shrikhand', cursive;
    font-size: 1.25em;
    white-space: pre-wrap;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
}

iframe {
    max-width: 90% !important;
    max-height: 80% !important;
}

.iframe-container {
    text-align: center;
    width: 100%;
}

.navbar-toggler {
	position: fixed;
    left:5px;
}



@media (min-width: 1280px) {
    #typeArea {
        background: white;
        opacity: 80%;
        padding: 20px;
        padding-top: 10px;
    }

    h1 {
        margin-bottom: 0px;
        line-height: 2em;
        font-family: 'Lobster', cursive;
        color: white;
        text-align: center;
    }

    


}

/* .container > .bmd-form-group{
    padding-top: 0px;
} */

#serachBar {
    padding-top: 0px;
}

.card {
    background-color: #D98555;
    margin: 10px 0;
}



#MainPage .card-title,
#MainPage .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}



#menuSignOut:hover {
    background-color: grey;
    color: white;
}

#menuUserInfo:hover {
    background-color: grey;
    color: white;
}

#menuDelete:hover {
    background-color: grey;
    color: white;
}

#menuEdit:hover {
    background-color: grey;
    color: white;
}

#BookMark:hover {
    background-color: grey;
    color: white;
}

#menuShowAllRecipes:hover {
    background-color: grey;
    color: white;
}

#menuShowMyRecipes:hover {
    background-color: grey;
    color: white;
}


.dropdown-menu-right {
    left: -128px;
}



#menuEdit,
#menuDelete {
    display: none;
}

#detailTitle {
    color: black;
    text-align: center;
    padding: 10px;
}

/* #detailPage{
    
} */

#oriB {
    float: right;
}

